window {
	all: unset;
	font-family: feather;
	font-family: "JetBrains Mono";
    padding: 2px;
}
.dockbox {
	background-color: #191919;
	border: 2px solid #4f4f4f;
	border-radius: 12px;
    padding: 5px 5px 5px 15px;
    color: #fff;
}
.systray widget window menu {
    background-color: #202020;
    border: 1px solid #4f4f4f;
    border-radius: 12px;
    padding: 5px;
    color: #fff;
}
.clear{
  all: unset;
}
.trayicon {
    background-repeat: no-repeat;
	background-size: 24px;
    background-position: center;
	min-height: 30px;
	min-width: 30px;
    background-color: #777;
    border-radius: 15px;
    padding: 0;
}
.clockbox {
	margin: 0;
    padding: 0;
}
.calendar {
  font-size: 18px;
  /* background-color: #202020;
  border: 1px solid #000;
  font-size :18px;
  color: #fff; */
}

.time {
	font-size : 12px;
	font-weight : bold;
    color: #D1D1D1;
    padding: 0;
}

.date {
	font-size : 12px;
	font-weight : bold;
    color: #D1D1D1;
    padding: 0;
}
.infotext {
	background-color: #777;
	border: 0px solid #161616;
	border-radius: 0 3px 3px 0;
	font-size : 14px;
	padding: 0 6px 0 3px;
	margin: 5px 0 5px -4px;
	font-weight : bold;
	color: #151515;
}
.inforound {
	border-radius: 3px 3px;
}
