/** Global *******************************************/
*{
	all: unset;
	font-family: feather;
	font-family: "JetBrains Mono";
	color: #FFF;
    padding: 2px;
}

/** Bar ***********************************/
.dockbox {
	background-color: #202020;
	border: 1px solid #4f4f4f;
	border-radius: 12px;
    padding: 0px 15px 0px 15px;
    color: #fff;
}

/** Icons ***********************************/
.trayicon {
    background-repeat: no-repeat;
	background-size: 24px;
	min-height: 24px;
	min-width: 24px;
	margin: 2px 0px 0px 0px;
    padding: 0;
}

/** Clock ********************************************/
.clockbox {
	margin: 0;
    padding: 0;
}

.time {
	font-size : 12px;
	font-weight : bold;
    color: #D1D1D1;
    padding: 0;
}

.date {
	font-size : 12px;
	font-weight : bold;
    color: #D1D1D1;
    padding: 0;
}

/** System *************************************************/
.infotext {
	background-color: #777;
	border: 0px solid #161616;
	border-radius: 3px;
	font-size : 14px;
	padding: 0px 5px 0px 5px;
	margin: 5px 0px 5px 0px;
	font-weight : bold;
	color: #151515;
}
/** EOF *************************************************/
