# GENERAL STUFF
alias q="exit"
alias please="sudo"
alias sdnow="shutdown now"
alias gmspdf="groff -ms -Tpdf"
alias umount_phone="fusermount -u"
alias doublefont='sudo setfont -d'
alias facul="cd ~/Documents/faculdade/;"
alias fixbt="pactl load-module module-bluetooth-discover"

# MY WEBSITE STUFF
alias lxyz="ssh lucca@luccaaugusto.xyz"
alias rxyz="ssh root@luccaaugusto.xyz"
alias site="cd $HOME/repos/site/; bundle exec jekyll serve"
alias jekser="bundle exec jekyll serve"

# Pacman stuff
alias autoremove="pacman -Rns $(pacman -Qtdq)"
alias update="sudo pacman -Syyud; yay -Syu"
alias P="sudo pacman"
alias p="pacman"

# Command aliases and typos
alias ls="ls --color=auto"
alias ll="ls -laFoh"
alias cler="clear"
alias claer="clear"
alias clera="clear"
alias celar="clear"
alias clean="clear"
alias v="vim"
alias V="sudo vim"
alias scim="sc-im"
alias rangre="ranger"
alias rnager="ranger"
alias rnagre="ranger"

# Django stuff
alias pm="python manage.py"
alias pms="python manage.py shell"
alias pmr="python manage.py runserver"
alias migrate="python manage.py makemigrations; python manage.py migrate"

# Wordpress stuff
alias cdwp="cd /usr/share/webapps/wordpress/"

# GIT STUFF
alias gc="git commit"
alias gpsh="git push"
alias gpll="git pull"
alias gad="git add ."
alias gs="git status"
alias gita="git add"
alias gsu="git submodule update --recursive"

# NANVIX STUFF
alias quadro="ssh lucas.augusto@quadro.icei.pucminas.br"
alias bdnvix="make contrib-uninstall && make distclean && make contrib -j 4 && make all -j 4"
alias nanvix="export TARGET="unix64" && cd $HOME/repos/multikernel && sudo bash utils/nanvix-setup-unix.sh"
alias upload='cd /home/lucca/repos/multikernel; rsync -avz --delete-after --exclude="*.o" --exclude=".git" --exclude="*.swp" --exclude="doc" . lucas.augusto@quadro.icei.pucminas.br:~/multikernel'
alias kn="pkill nanvix"
