#!/bin/bash

#runs when a DM logs me in a graphical session

dunst &
compton &
nm-applet &
unclutter &
keyboard_layout &
sxhkd &
transmission-gtk &
redshift -c ~/.config/redshift/config &
#dwmbar &
feh --bg-scale ~/.config/wall.jpg 
shownotes
