/** Global *******************************************/
*{
	all: unset;
	font-family: feather;
	font-family: "JetBrains Mono";
}

/** Bar ***********************************/
.dockbox {
	background-color: #101010;
	border: 1px solid #4f4f4f;
	border-radius: 12px;
    padding: 0px 15px 0px 15px;
    color: #fff;
}

.workspaces {
  margin: 5px;
  font-size: 20px;
}

.open-window {
  font-size: 16px;
  border-left: 2px solid #EA425B;
  padding-left: 5px;
}

.active {
  border: 2px solid #777;
  border-top: 1px solid #777;
  border-left: 1px solid #777;
  border-radius: 5px;
}
.current {
  border: 2px solid #EB6CE8;
  border-top: 1px solid #777;
  border-left: 1px solid #777;
  border-radius: 3px;
}
.empty {
}

/** Icons ***********************************/
.trayicon {
    background-repeat: no-repeat;
	background-size: 18px;
	min-height: 18px;
	min-width: 18px;
    margin-top: 10px;
}

/** Info *************************************************/
.infotext {
	font-size : 14px;
	padding: 0px 5px 0px 5px;
	margin: 5px 0px 5px 0px;
}
/** EOF *************************************************/
